# use glob syntax.
syntax: glob
*.ser
*.class
*.log
*~
*.bak
*.off
*.old
*.iml
*.ipr
*.iws

# eclipse conf file
.settings
.classpath
.project
.manager
.idea
.cache/
.history/
.lib/
.scala_dependencies
.worksheet

# building
target
build
null
tmp
temp
dist
test-output
build.log
pom.xml.releaseBackup
release.properties
TestJavaClass*.java
interpolated-*.xml
out
dist/*
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/
